<div class="container">
   
    <div class="box">
        <h3>Auth Guard</h3>
    
   
<form class="form-login" (ngSubmit)="onSubmit(loginForm)" #loginForm="ngForm">
 
        <div class="input-group mb-3">
            <input type="text" id="inputLogin" class="form-control" name="login" placeholder="User Name" ngModel
            required autofocus>            
            <div class="input-group-append">
              <div class="input-group-text">
                <span class="fas fa-user"></span> 
              </div>
            </div>
          </div>
          <div class="input-group mb-3">
            <input type="password" id="inputPassword" class="form-control" name="password" placeholder="Password" autocomplete="on" ngModel required>
            <div class="input-group-append">
              <div class="input-group-text">
             
              </div>
            </div>
          </div>
          
          <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>

          <div class="alert alert-danger" role="alert" *ngIf="isFormValid">
              Please fill all fields.
          </div>
          <div class="alert alert-danger" role="alert" *ngIf="areCredentialsInvalid">
              Invalid user or password.
          </div>
        </form>
       
  
        
    </div>
  </div>

 